.container{
    display: flex;
    justify-content: center;
}
#countLabel{
    text-align: center;
    font-size: 4rem
}

#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid black;
}

#scoreText{
    font-family: consolas, cursive;
    font-size: 5rem;
}
#resetBtn{
    font-family: consolas, cursive;
    font-size: 1.5rem;
    width: 100px;
    height: 50px;
    border: 4px solid black;
    border-radius: 15px;
    cursor: pointer;
}